octopus:
  account_number:
  api_key: 

influxv2:
  url: "http://localhost:8086"
  organization: 
  bucket: energy
  all-access-token: 

maria-db:
  host: 
  username: admin
  password: 
  database:

data_refresh:
  polling_interval_seconds: 60
  refresh_interval_seconds: 3600